<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="login.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body class="list-background">
        <h1 class="list-title">Escolha seu Drink</h1>

        <div class="listing" >

          <button class="btn-drinks">
            <div class="btn-informacao">
              <p style="font-weight: bold; margin-bottom: 1px;">Disco Voador</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Vodka</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Suco</p>
              <p class="btn-informacao" style="margin-top: 10px; font-size: 15px;"> 8,9%<p/>
            </div>
          </button>

          <button class="btn-drinks">
            <div class="btn-informacao">
              <p style="font-weight: bold; margin-bottom: 1px;">Computaria</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Vodka</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Suco</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Gás</p>
              <p class="btn-informacao" style="margin-top: 10px; font-size: 15px;"> 8,9%<p/>
            </div>
          </button>

          <button class="btn-drinks">
            <div class="btn-informacao">
              <p style="font-weight: bold; margin-bottom: 1px;">Neném</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Suco</p>
              <p class="btn-informacao" style="margin-top: 10px; font-size: 15px;"> 8,9%<p/>
            </div>
          </button>

          <button class="btn-drinks">
            <div class="btn-informacao">
              <p style="font-weight: bold; margin-bottom: 1px;">Sem Graça</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Água com gás</p>
              <p class="btn-informacao" style="margin-top: 10px; font-size: 15px;"> 8,9%<p/>
            </div>
          </button>

          <button class="btn-drinks">
            <div class="btn-informacao">
              <p style="font-weight: bold; margin-bottom: 1px;">Morte</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Vodka</p>
              <p class="btn-informacao" style="margin-top: 10px; font-size: 15px;"> 8,9%<p/>
            </div>
          </button>

          <button class="btn-drinks">
            <div class="btn-informacao">
              <p style="font-weight: bold; margin-bottom: 1px;">Refri fake</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Água com gás</p>
              <p class="border-example" style="display: inline; font-size: 13px;">Suco</p>
              <p class="btn-informacao" style="margin-top: 10px; font-size: 15px;"> 8,9%<p/>
            </div>
          </button>

        </div>
  </body>
</html>
