/* CSS da página web do Robçom */
/*
- adicionar background
- mudar codigo cores
*/

.login-screen{
  background-image: url("robcomBack.png");
  background-size: cover;
}

.text{
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: regular;
  color: #fdf0c5;
}

.input-box{
  width: 280px;
  font-size: 20px;
  color: #fdf0c5;
  padding-top: 10px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 3px;
  border-bottom-color: #fef6de;
}

.input-box:focus{
  border-bottom-color: #c65d2c;
}

.button-confirm{
  background: #c65d2c;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 80px;
  margin-left: 100px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-confirm:hover{
  background: #b15327;
}

/* button */

.list-screen{
  background-image: url("robcomBack-notitle.png");
}

.listing{
  align-items: center;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-drinks{
  width: 160px;
  height: 150px;
  background-color: #fdf0c5;
  border: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: black;
  cursor: pointer; /* Pointer/hand icon */
}

.btn-drinks:hover{
  width: 163px;
  height: 153px;
  background-color: #fef6de;
}

.btn-informacao{
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: regular;
  color: black;

}
