/* CSS da página web do Robçom */
/*
*/

.login-screen{
  background-image: url("robcomBack.png");
  background-size: cover;
}

.text{
  font-family: 'Calibri' sans-serif;
  font-size: 17px;
  font-weight: regular;
  color: #fedf00;
}

.input-box{
  width: 280px;
  font-size: 20px;
  color: #fdf0c5;
  padding-top: 10px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 3px;
  border-bottom-color: #fef6de;
}

.input-box:focus{
  border-bottom-color: #c65d2c;
}

.button-confirm{
  background: #c65d2c;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 80px;
  margin-left: 100px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-confirm:hover{
  background: #b15327;
}

/* Opções dá página de drinks */

.list-background{
  background-image: url("robcomBack-notitle.png");
}
.list-title{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 25px;
  color: #fed700;
}
.listing{
  align-items: center;
  margin-top: 70px;
  margin-left: 16px;
  margin-bottom: 20px;
}

.btn-drinks{
  width: 160px;
  height: 150px;
  background-color: #fdf0c5;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 20px;
  cursor: pointer; /* Pointer/hand icon */
}

.btn-drinks:hover{
  /* adjust so it won't affect other buttons */
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  /* enlarges button size when hovering*/
  width: 166px;
  height: 155px;

  background-color: #fef6de;
  font-size: 22px;
}

.btn-informacao{
  padding-top: 5px;
  font-family: 'Ubuntu', sans-serif;
  color: #800000;
}

.border-example{
  padding: 4px;
  border-width: thin;
  border-radius: 25px;
  border-style: solid;
  border-color: #e13300;
  font-size:
}
