<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!-- jQuery library -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!-- Latest compiled JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<script>
debug_const = 1;
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
     // these HTTP methods do not require CSRF protection
     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
             xhr.setRequestHeader("X-CSRFToken", csrftoken);
         }
     }
});

tableID = {{table}};

function toDrinkList() {
    window.location.href = "https://form.connectywifi.com.br/tableAndName?tableID="+tableID;
 //   window.location.href = "tableAndName?tableID="+tableID;
};
/**
 * Executed on page load.
 */
$(document).ready(function() {

});
</script>

<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link href="{{ url_for('static', filename='css/OpenSans.css') }}" rel='stylesheet'  type='text/css'>
<!--    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body class="background">
        <div class="centered">
            <img style="position: relative; z-index: 2; width: 300px; height: auto; margin-top: 40%; margin-left: 20px;" src="{{ url_for('static', filename='images/waitTitle.png') }}" alt="TituloWaiting"><br>
            <input type="button" class="button-back" value="Voltar" onclick="return toDrinkList()"><br>
            <!-- <img style="position: relative; z-index: 1; width: 250px; height: auto; bottom: 0px; margin-left: 45px;" src="{{ url_for('static', filename='images/cheerscup.png') }}" alt="Cheers"> -->
        </div>
    </body>
</html>
